.custom-header {
    background-color: #5eb090;
    color:white;
}

.custom-logo {
    width: 100px;
    height: auto;
}

.custom-button {
    background-color: #3c6ca8;
    border-color: white;
    color:white;
}
